@font-face {
  font-family: "ProductSans-Regular";
  src: local("ProductSans-Regular"),
    url("./assets/fonts/ProductSans-Regular.ttf") format("truetype");
  font-weight: bold;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ProductSans-Regular";
}
